.navbar {
    position: absolute; 
    top: 10px;
    left: 10px; 
    z-index: 1000;
}

.nav-table {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
}

.interests-container {
    display: grid;
    grid-template-areas:
        "block1 block1 block1"
        "block2 block3 block4";
    row-gap: 10px;
    column-gap: 25px;
}

.meimei-pic img,
.snowboarding-pic img,
.wine-pic img {
    max-width: 400px; /* 统一最大宽度 */
    height: auto; /* 保持比例 */
    object-fit: cover; /* 保持图片比例，填充元素 */
}

.interest-block {
    width: auto;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interest-title {
    font-size: 24px; 
    font-family: 'Cursive', sans-serif;
    color: #333;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.interest-title:hover {
    font-size: 36px;
    color: #8e0b9f;
}

.meimei-content,
.snowboarding-content,
.wine-content {
    font-size: 18px; /* 字体大小 */
    color: #333; /* 字体颜色 */
    margin-top: 10px; /* 内容与图片之间的间距 */
    font-family: 'Arial', sans-serif; /* 字体样式 */
    transition: color 0.3s ease; /* 添加颜色变化过渡效果 */
}

.block1 {
    grid-area: block1;
    background-color: #f1fadd;
    margin-left: 75px;
    margin-right: 75px;
}

.block2 {
    grid-area: block2;
    margin-left: 75px;
}

.block3 {
    grid-area: block3;
}

.block4 {
    grid-area: block4;
    margin-right: 75px;
}
