.navbar {
    position: absolute; 
    top: 10px;
    left: 10px; 
    z-index: 1000;
}

.nav-table {
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: flex;
}

.interests-container {
    display: grid;
    grid-template-areas:
        "block1 block1 block1"
        "block2 block3 block4";
    row-gap: 10px;
    column-gap: 25px;
}

.meimei-pic img,
.snowboarding-pic img,
.wine-pic img {
    max-width: 400px; 
    height: auto; 
    object-fit: cover; 
}

.interest-block {
    width: auto;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interest-title {
    font-size: 24px; 
    font-family: 'Cursive', sans-serif;
    color: #333;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.interest-title:hover {
    font-size: 36px;
    color: #8e0b9f;
}

.meimei-content,
.snowboarding-content,
.wine-content {
    font-size: 18px; 
    color: #333; 
    margin-top: 10px; 
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease; 
}

.block1 {
    grid-area: block1;
    background-color: #f1fadd;
    margin-left: 75px;
    margin-right: 75px;
}

.block2 {
    grid-area: block2;
    margin-left: 75px;
}

.block3 {
    grid-area: block3;
}

.block4 {
    grid-area: block4;
    margin-right: 75px;
}

@media (max-width: 600px) {
    .navbar {
        position: static; 
        text-align: center; 
        margin-bottom: 20px; 
    }

    .interests-container {
        display: flex; 
        flex-direction: column; 
        padding: 0; 
    }

    .interest-block {
        flex: 1; 
        margin: 10px 0; 
        max-width: 100%; 
    }

    .meimei-pic img,
    .snowboarding-pic img,
    .wine-pic img {
        max-width: 100%; 
        height: auto; 
    }

    .interest-title {
        font-size: 18px; 
    }

    .interest-content {
        font-size: 14px; 
    }
}